{{#each this}}
           <div class="photo-card" data-id="{{id}}">
                <div class="image-thumb">
                  <a class="image-link" href="https://image.tmdb.org/t/p/w500/{{backdrop_path}}">

         {{#if poster_path}}
        <img class="image-card" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" loading="lazy" />
        {{else}}
        <img class="image-card" src="../images/empty.jpg" alt="{{title}}" loading="lazy"/>
        {{/if}}
               </a>
               </div>
               <div class="info">
                 <p class="name-film">{{original_title}}</p>
                 <p class="genres-year-film"><span>{{genre_ids}}</span> | {{release_date}}</p>
               </div>
             </div>
{{/each}}
        
        